{% extends 'internal.html' %}

{% block sidebar %}
<img src="/static/images/decor_photo3.jpg"/>
<p>Season of mists and mellow fruitfulness, close bosom-friend of the maturing sun, conspiring with him to load and bless with fruit the vines that round the thatch-eves run.</p>
{% endblock %}

{% block content %}
<ul>
  <li><a href="playground/fractioncalc">Fraction Calculator</a></li>
  <li><a href="playground/customcrypt">Custom Cryptogram</a></li>
  <li><a href="playground/addition">Addition Drill</a></li>
  <li><a href="playground/multiplication">Multiplication Drill</a></li>
</ul>
{% endblock %}
