{% load sidebar %}
<!DOCTYPE html>
<html>
<head>
    <title>Channel Islands Mensa - {{ page_title }}</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/cimensa.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/internal.css"/>
</head>
<body>
<div id="page">
    <div id="container">
        <div id="masthead">
            <div id="nav_background">
            <ul id="nav">
                <li id="home" style=""><a href="/">Home</a>
                <li id="mensa101" style=""><a href="/about">Mensa 101</a>
                    <ul>
                        <li><a href="">Demographics</a></li>
                        <li><a href="">Qualifications</a>
                            <ul>
                                <li><a href="">Other Societies</a></li>
                                <li><a href="">Bigger and Badder</a></li>
                            </ul>
                        </li>
                        <li><a href="">Why People Join</a></li>
                    </ul>
                </li>
                <li id="playground" style=""><a href="/playground">Playground</a>
                    <ul>
                        <li><a href="/playground/pi">Pi Memorization</a></li>
                        <li><a href="/playground/customcrypt">Cryptogram</a></li>
                        <li><a href="/playground/addition">Addition Blitz</a></li>
                        <li><a href="/playground/multiplication">Multiplication Blitz</a></li>
                    </ul>
                </li>
                <li id="calendar" style=""><a href="/calendar">Calendar</a></li>
                <li id="news" style=""><a href="/news">News</a>
                </li>
                <li id="articles" style=""><a href="/articles">Member Articles</a>
                    <ul>
{% for category in article_categories %}
                        <li><a href="/articles/{{ category.id }}">{{ category.category }}</a></li>
{% empty %}
                        <li><a href="">Technology</a></li>
                        <li><a href="">Linguistics</a></li>
                        <li><a href="">Weird &amp; Whacky</a></li>
                        <li><a href="">Entertainment</a></li>
                        <li><a href="">Other stuff</a></li>
{% endfor %}
                    </ul>
                </li>
                <li id="links" style=""><a href="/links">Links</a>
                    <ul>
                        <li><a href="">Reference</a></li>
                        <li><a href="">Humor</a></li>
                        <li><a href="">Shopping</a></li>
                    </ul>
                </li>
                <li id="contact" style=""><a href="/contact">Contact</a></li>
            </ul>
            </div>
            <div id="heading"></div>
        </div>
        <div class="masthead_shadow" style="border-top:1px solid #6e6e6e"></div>
        <div class="masthead_shadow" style="border-top:1px solid #8c8c8c"></div>
        <div class="masthead_shadow" style="border-top:1px solid #b3b3b3"></div>
        <div class="masthead_shadow" style="border-top:1px solid #d1d1d1"></div>
        <div class="masthead_shadow" style="border-top:1px solid #e8e8e8"></div>
        <div id="leftcol">
          {% sidebar %}
        </div>
        <div id="rightcol">
          {% block content %}{% endblock %}
        </div>
<div style="clear:left; margin-bottom:12px"></div>
    </div>
    <div class="disclaimer" style="text-align:center">
    Copyright &copy; <?php echo date("Y"); ?> Channel Islands Mensa.<br />The Mensa logo is a registered trademark of Mensa International, Ltd. and American Mensa, Ltd., all rights reserved.<br />Mensa does not hold any opinions, or have, or express, any political or religious views. 
    </div>
</div>
</body>
</html>

